.container{
    padding: 50px 150px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 32px;
}

.form-body{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    column-gap: 100px;
    row-gap: 40px;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-row{
    position: relative;
}

.fa-indian-rupee-sign{
    position: absolute;
    right: 20px;
    top: 16px;
}

.choose{
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
}

.custom-input{
    font-size: 16px;
    width: calc(100% - 22px);
}

textarea{
    height: 40px;
    font-size: 16px;
    padding-inline: 10px;
}

.custom-select{
    height: 45px;
    font-size: 16px;
    padding: 3px 10px;
}

.btn-row{
    margin-top: 20px ;
}

.submit-btn{
    font-size: 16px;
    border: 1px solid #808080;
    width: 100px;
    padding: 12px 20px;
    margin-right: 20px;
}

.cancel-btn{
    font-size: 16px;
    border: 1px solid #808080;
    width: 100px;
    padding: 12px 20px;
}