.container {
    padding: 50px 100px;
}

.title{
    font-size: 32px;
    margin-bottom: 50px;
}

.product{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.product-card {
    height: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    cursor: pointer;

    .image-container{
       height: 300px;
    }

    .i-skeleton{
        background-color: #d3d3d3;
        animation: image-load 2s infinite;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 10px;

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px
        }

        .t-skeleton{
            animation: image-load 2s infinite;
            height: 20px;
            width: 200px;
        }

        .p-skeleton{
            animation: image-load 2s infinite;
            width: 100px;
            height: 20px;
        }
    }
}

.product-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes image-load {
    0% {
        background-color: #d3d3d3;
    }
    50% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #d3d3d3;
    }
}