.container {
    padding: 50px 100px;
}

.title{
    font-size: 32px;
    margin-bottom: 50px;
}

.product{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 50px;
}

.product-card {
    height: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    cursor: pointer;

    .image-container{
       height: 300px;
    }

    .i-skeleton{
        background-color: #d3d3d3;
        animation: image-load 2s infinite;
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 10px;

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px
        }

        .t-skeleton{
            animation: image-load 2s infinite;
            height: 20px;
            width: 200px;
        }

        .p-skeleton{
            animation: image-load 2s infinite;
            width: 100px;
            height: 20px;
        }
    }
}

.product-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes image-load {
    0% {
        background-color: #d3d3d3;
    }
    50% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #d3d3d3;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .container{
        width: calc(100% - 100px);
        padding: 50px 50px;
    }

    .product{
        width: 100%;
        flex-wrap: wrap;
    }
     
    .product-grid{
        gap: 10px;
        row-gap: 30px;
    }

    .product-card {
        gap: 20px;
    
        .details {
            gap: 10px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
     
    .product-grid{
        gap: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container{
        padding: 20px 10px;
        width: calc(100% - 20px);
    }

    .product-grid{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .product-grid{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    .container{
        width: 100%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 280px) {
    .product-grid{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}