.container{
    padding: 50px 100px;
}

.title{
    font-size: 32px;
    color: darkgray;
    margin-bottom: 50px;
}

.gender-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    cursor: pointer;

    .card-text{
        font-size: 28px;
        letter-spacing: 3px;
        font-weight: 600;
        color: gray;
    }
}

.card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}